# Movie Recommendation System

"""
This project builds a content-based Movie Recommendation System using Python, Pandas, and Scikit-Learn.
It processes movie metadata, extracts relevant features (genres, keywords, cast, and crew),
and applies Machine learning (ML) techniques to suggest similar movies.
"""

In [1]:
# importing Libraries
import os
import pandas as pd
import numpy as np

In [5]:
# importing dataset
movies = pd.read_csv('/Users/jestin/Documents/data scince/machine learning/datasets/movies.csv')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [6]:
movies.shape

(4803, 20)

In [7]:
# checking for duplicates
movies.duplicated().sum()

0

In [8]:
# checking for missing values in total
movies.isnull().sum().sum()

3941

In [9]:
# checking missing values columnwise
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [10]:
# importing second datset 
credits= pd.read_csv('/Users/jestin/Documents/data scince/machine learning/datasets/credits.csv')
credits.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [19]:
# size of the dataset
credits.shape

(4803, 4)

In [20]:
# checking for duplicates
credits.duplicated().sum()

0

In [21]:
# checking for missing values
credits.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [22]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [23]:
credits.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

### merging both tables

In [11]:
# merging both tables based on title column
movies = movies.merge(credits,on = 'title')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [25]:
# after merging
movies.shape

(4809, 23)

In [26]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [27]:
movies.isnull().sum()/len(movies)*100

budget                   0.000000
genres                   0.000000
homepage                64.379289
id                       0.000000
keywords                 0.000000
original_language        0.000000
original_title           0.000000
overview                 0.062383
popularity               0.000000
production_companies     0.000000
production_countries     0.000000
release_date             0.020794
revenue                  0.000000
runtime                  0.041589
spoken_languages         0.000000
status                   0.000000
tagline                 17.550426
title                    0.000000
vote_average             0.000000
vote_count               0.000000
movie_id                 0.000000
cast                     0.000000
crew                     0.000000
dtype: float64

In [28]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [29]:
movies['status'].value_counts()

status
Released           4801
Rumored               5
Post Production       3
Name: count, dtype: int64

In [6]:
# Given that the majority of movies in the dataset are in English, language may not be a significant feature
#for the recommendation model
(movies['original_language'].value_counts()/len(movies)*100).head()

original_language
en    93.782491
fr     1.455604
es     0.665419
zh     0.561447
de     0.561447
Name: count, dtype: float64

## Selecting significent Features for Recommendation Systems
#### droping other feautes

In [31]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [32]:
# 'genres','movie_id','keywords','title','overview','cast','crew'

In [12]:
movies = movies[['genres','movie_id','keywords','title','overview','cast','crew']]
movies.tail(2)

,genres,movie_id,keywords,title,overview,cast,crew
4807,[],126186,[],Shanghai Calling,When ambitious New York attorney Sam is sent t...,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,"[{""id"": 99, ""name"": ""Documentary""}]",25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",My Date with Drew,Ever since the second grade when he first saw ...,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [8]:
movies['genres'][285]

'[{"id": 28, "name": "Action"}, {"id": 35, "name": "Comedy"}, {"id": 80, "name": "Crime"}]'

In [36]:
movies['genres'][300]

'[{"id": 12, "name": "Adventure"}, {"id": 28, "name": "Action"}, {"id": 53, "name": "Thriller"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
# import package ast (abstract syntax Trees)
import ast

In [25]:


def convert(text):
    synt =[]
    for i in ast.literal_eval(text):
        synt.append(i['name'])
    return synt

In [17]:
movies['genres']= movies['genres'].apply(convert)

In [18]:
movies['genres'][285]

['Action', 'Comedy', 'Crime']

In [19]:
movies['genres'][300]

['Adventure', 'Action', 'Thriller', 'Science Fiction']

In [41]:
movies['keywords'][1]

'[{"id": 270, "name": "ocean"}, {"id": 726, "name": "drug abuse"}, {"id": 911, "name": "exotic island"}, {"id": 1319, "name": "east india trading company"}, {"id": 2038, "name": "love of one\'s life"}, {"id": 2052, "name": "traitor"}, {"id": 2580, "name": "shipwreck"}, {"id": 2660, "name": "strong woman"}, {"id": 3799, "name": "ship"}, {"id": 5740, "name": "alliance"}, {"id": 5941, "name": "calypso"}, {"id": 6155, "name": "afterlife"}, {"id": 6211, "name": "fighter"}, {"id": 12988, "name": "pirate"}, {"id": 157186, "name": "swashbuckler"}, {"id": 179430, "name": "aftercreditsstinger"}]'

In [26]:
movies['keywords']= movies['keywords'].apply(convert)

In [32]:
movies['keywords'][1]

['ocean',
 'drug abuse',
 'exotic island',
 'east india trading company',
 "love of one's life",
 'traitor',
 'shipwreck',
 'strong woman',
 'ship',
 'alliance',
 'calypso',
 'afterlife',
 'fighter',
 'pirate',
 'swashbuckler',
 'aftercreditsstinger']

In [33]:
movies['cast'][0]

['Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez']

In [28]:
def convert5(text):
    syntex = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter <5:
            syntex.append(i['name'])
        counter +=1
    return syntex

In [29]:
movies['cast'] = movies['cast'].apply(convert5)

In [30]:
movies['cast'][0]

['Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez']

In [20]:
movies.head(3)

,genres,movie_id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [22]:
#Extracting only  Director Names from the Crew
def director(text):
    dir =[]
    for i in ast.literal_eval(text):
        if i['job']== 'Director':
            dir.append(i['name'])
    return dir

In [20]:
movies['crew'] = movies['crew'].apply(director)

In [31]:
movies.head(4)

,genres,movie_id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]

In [23]:
movies['crew'][1]

['Gore Verbinski']

In [34]:
# This function combines first names and last names into a single string   
# by removing any spaces. This helps prevent collisions during keyword searches.  

def collapse(A):  
    return [i.replace(" ", "") for i in A]

In [35]:
movies.columns

Index(['genres', 'movie_id', 'keywords', 'title', 'overview', 'cast', 'crew'], dtype='object')

In [37]:
movies['genres']=movies['genres'].apply(collapse)
movies['keywords']=movies['keywords'].apply(collapse)
movies['cast']=movies['cast'].apply(collapse)
movies['crew']=movies['crew'].apply(collapse)

In [38]:
movies.head()

,genres,movie_id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,A cryptic message from Bond’s past sends him o...,"[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"John Carter is a war-weary, former military ca...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [41]:
# searching null values

movies.isnull().sum()/len(movies)*100

genres      0.000000
movie_id    0.000000
keywords    0.000000
title       0.000000
overview    0.062383
cast        0.000000
crew        0.000000
dtype: float64

In [42]:
movies.dropna(inplace = True)

In [43]:
movies.isnull().sum()/len(movies)*100

genres      0.0
movie_id    0.0
keywords    0.0
title       0.0
overview    0.0
cast        0.0
crew        0.0
dtype: float64

In [47]:
movies['overview'][1000]

"A highly-evolved planet, whose denizens feel no emotion and reproduce by cloning, plans to take over Earth from the inside by sending an operative, fashioned with a humming, mechanical penis, to impregnate an earthling and stay until the birth. The alien, Harold Anderson, goes to Phoenix as a banker and sets to work finding a mate. His approaches to women are inept, and the humming phallus doesn't help, but on the advice of a banking colleague, he cruises an AA meeting, meets Susan, and somehow convinces her to marry. The clock starts to tick: will she conceive, have a baby, and lose Harold (and the child) to his planet before he discovers emotion and starts to care?"

In [48]:
# transform the content of the overview column in a DataFrame
# by splitting each overview text into a list of words.  

movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [49]:
movies['overview'][1000]

['A',
 'highly-evolved',
 'planet,',
 'whose',
 'denizens',
 'feel',
 'no',
 'emotion',
 'and',
 'reproduce',
 'by',
 'cloning,',
 'plans',
 'to',
 'take',
 'over',
 'Earth',
 'from',
 'the',
 'inside',
 'by',
 'sending',
 'an',
 'operative,',
 'fashioned',
 'with',
 'a',
 'humming,',
 'mechanical',
 'penis,',
 'to',
 'impregnate',
 'an',
 'earthling',
 'and',
 'stay',
 'until',
 'the',
 'birth.',
 'The',
 'alien,',
 'Harold',
 'Anderson,',
 'goes',
 'to',
 'Phoenix',
 'as',
 'a',
 'banker',
 'and',
 'sets',
 'to',
 'work',
 'finding',
 'a',
 'mate.',
 'His',
 'approaches',
 'to',
 'women',
 'are',
 'inept,',
 'and',
 'the',
 'humming',
 'phallus',
 "doesn't",
 'help,',
 'but',
 'on',
 'the',
 'advice',
 'of',
 'a',
 'banking',
 'colleague,',
 'he',
 'cruises',
 'an',
 'AA',
 'meeting,',
 'meets',
 'Susan,',
 'and',
 'somehow',
 'convinces',
 'her',
 'to',
 'marry.',
 'The',
 'clock',
 'starts',
 'to',
 'tick:',
 'will',
 'she',
 'conceive,',
 'have',
 'a',
 'baby,',
 'and',
 'lose',
 'Harold',
 '(and',
 'the',
 'child)',
 'to',
 'his',
 'planet',
 'before',
 'he',
 'discovers',
 'emotion',
 'and',
 'starts',
 'to',
 'care?']

In [50]:
movies.columns

Index(['genres', 'movie_id', 'keywords', 'title', 'overview', 'cast', 'crew'], dtype='object')

In [56]:

movies['tag']= movies['overview']+ movies['keywords']+ movies['genres']+ movies['cast']+ movies['crew']

In [57]:
movies.head()

,genres,movie_id,keywords,title,overview,cast,crew,tag
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [60]:
# assigning a new name 

New_movies = movies.drop(columns=['genres','keywords','overview','cast','crew'])

In [62]:
New_movies

,movie_id,title,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [65]:
New_movies['tag']= New_movies['tag'].apply(lambda x: " ".join(x))

In [67]:
New_movies.head()

,movie_id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

# Now we have cleaned data for building recommendation System

In [83]:
# feature engeenering required to convert non-numeric data to numeric data 

from sklearn.feature_extraction.text import CountVectorizer  
cv = CountVectorizer(max_features = 5000,stop_words='english',binary = True)
vector = cv.fit_transform(New_movies['tag']).toarray()

In [84]:
vector.shape

(4806, 5000)

# building model- cosine similarity

In [85]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity.shape

(4806, 4806)

In [86]:
similarity[0]

array([1.        , 0.08827348, 0.06465082, ..., 0.02787473, 0.03178209,
       0.        ])

In [88]:
New_movies.head()

,movie_id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [89]:
# to find the index of a specific movie
New_movies[New_movies['title']== 'Avatar'].index[0]

0

In [91]:
#to sort the similarities of a specific item in a similarity matrix 
sorted(list(enumerate(similarity[0])),reverse = True)

[(4805, 0.0),
 (4804, 0.03178208630818641),
 (4803, 0.027874733666903028),
 (4802, 0.0657951694959769),
 (4801, 0.033501260508640406),
 (4800, 0.0),
 (4799, 0.06356417261637282),
 (4798, 0.027186362391351845),
 (4797, 0.0),
 (4796, 0.0),
 (4795, 0.0),
 (4794, 0.0),
 (4793, 0.0657951694959769),
 (4792, 0.0),
 (4791, 0.0),
 (4790, 0.03481553119113957),
 (4789, 0.02686076546751268),
 (4788, 0.0),
 (4787, 0.02566635011696727),
 (4786, 0.0),
 (4785, 0.0),
 (4784, 0.04652421051992355),
 (4783, 0.0),
 (4782, 0.030303030303030307),
 (4781, 0.06963106238227915),
 (4780, 0.025949964805384102),
 (4779, 0.0),
 (4778, 0.0),
 (4777, 0.055048188256318034),
 (4776, 0.0),
 (4775, 0.03629770043203139),
 (4774, 0.0),
 (4773, 0.037113480951260276),
 (4772, 0.03481553119113957),
 (4771, 0.04222003309207491),
 (4770, 0.0),
 (4769, 0.0),
 (4768, 0.0),
 (4767, 0.03993615319154359),
 (4766, 0.025391835805951283),
 (4765, 0.0),
 (4764, 0.0),
 (4763, 0.0),
 (4762, 0.0),
 (4761, 0.03413943709994595),
 (4760, 0.0),
 (4759, 0.037113480951260276),
 (4758, 0.0),
 (4757, 0.05025189076296061),
 (4756, 0.0),
 (4755, 0.029854071701326604),
 (4754, 0.03993615319154359),
 (4753, 0.0),
 (4752, 0.033501260508640406),
 (4751, 0.0),
 (4750, 0.0),
 (4749, 0.0),
 (4748, 0.029424494316824985),
 (4747, 0.0),
 (4746, 0.0),
 (4745, 0.0),
 (4744, 0.037113480951260276),
 (4743, 0.026243194054073903),
 (4742, 0.04652421051992355),
 (4741, 0.04351941398892446),
 (4740, 0.0),
 (4739, 0.03629770043203139),
 (4738, 0.0),
 (4737, 0.0930484210398471),
 (4736, 0.0),
 (4735, 0.0),
 (4734, 0.0),
 (4733, 0.0),
 (4732, 0.0),
 (4731, 0.03481553119113957),
 (4730, 0.03798685881987932),
 (4729, 0.0),
 (4728, 0.0),
 (4727, 0.07422696190252055),
 (4726, 0.0),
 (4725, 0.0),
 (4724, 0.0),
 (4723, 0.0),
 (4722, 0.02566635011696727),
 (4721, 0.0),
 (4720, 0.03413943709994595),
 (4719, 0.0),
 (4718, 0.10050378152592122),
 (4717, 0.0),
 (4716, 0.0),
 (4715, 0.0),
 (4714, 0.0),
 (4713, 0.0323254091917618),
 (4712, 0.0),
 (4711, 0.025125945381480306),
 (4710, 0.0),
 (4709, 0.0),
 (4708, 0.0),
 (4707, 0.03126526997403613),
 (4706, 0.048280454958526765),
 (4705, 0.0),
 (4704, 0.07422696190252055),
 (4703, 0.04222003309207491),
 (4702, 0.0),
 (4701, 0.0),
 (4700, 0.04103049699311092),
 (4699, 0.03798685881987932),
 (4698, 0.0),
 (4697, 0.0),
 (4696, 0.02566635011696727),
 (4695, 0.027524094128159017),
 (4694, 0.025391835805951283),
 (4693, 0.03413943709994595),
 (4692, 0.0),
 (4691, 0.0323254091917618),
 (4690, 0.030303030303030307),
 (4689, 0.0),
 (4688, 0.0),
 (4687, 0.0),
 (4686, 0.0),
 (4685, 0.0),
 (4684, 0.0),
 (4683, 0.0),
 (4682, 0.02461829819586655),
 (4681, 0.0),
 (4680, 0.03553345272593508),
 (4679, 0.0),
 (4678, 0.0),
 (4677, 0.0),
 (4676, 0.0),
 (4675, 0.03289758474798845),
 (4674, 0.030772872744833184),
 (4673, 0.13400504203456162),
 (4672, 0.060606060606060615),
 (4671, 0.0),
 (4670, 0.025125945381480306),
 (4669, 0.03892494720807615),
 (4668, 0.0),
 (4667, 0.03798685881987932),
 (4666, 0.03993615319154359),
 (4665, 0.0),
 (4664, 0.03481553119113957),
 (4663, 0.0),
 (4662, 0.0),
 (4661, 0.03553345272593508),
 (4660, 0.0),
 (4659, 0.0),
 (4658, 0.0),
 (4657, 0.10241831129983785),
 (4656, 0.029424494316824985),
 (4655, 0.0),
 (4654, 0.09656090991705353),
 (4653, 0.0),
 (4652, 0.03798685881987932),
 (4651, 0.0),
 (4650, 0.0),
 (4649, 0.0),
 (4648, 0.0),
 (4647, 0.026546593660094948),
 (4646, 0.052486388108147805),
 (4645, 0.0),
 (4644, 0.0),
 (4643, 0.04351941398892446),
 (4642, 0.037113480951260276),
 (4641, 0.08703882797784893),
 (4640, 0.09231861823449955),
 (4639, 0.0),
 (4638, 0.03993615319154359),
 (4637, 0.0),
 (4636, 0.06154574548966637),
 (4635, 0.048280454958526765),
 (4634, 0.03553345272593508),
 (4633, 0.03798685881987932),
 (4632, 0.04222003309207491),
 (4631, 0.0),
 (4630, 0.026546593660094948),
 (4629, 0.03413943709994595),
 (4628, 0.0),
 (4627, 0.0),
 (4626, 0.09534625892455922),
 (4625, 0.0),
 (4624, 0.07259540086406278),
 (4623, 0.10660035817780525),
 (4622, 0.0),
 (4621, 0.0),
 (4620, 0.03289758474798845),
 (4619, 0.0),
 (4618, 0.03798685881987932),
 (4617, 0.0),
 (4616, 0.0),
 (4615, 0.0),
 (4614, 0.0),
 (4613, 0.0),
 (4612, 0.0),
 (4611, 0.04103049699311092),
 (4610, 0.0),
 (4609, 0.0),
 (4608, 0.0),
 (4607, 0.060606060606060615),
 (4606, 0.0),
 (4605, 0.0),
 (4604, 0.03993615319154359),
 (4603, 0.0),
 (4602, 0.06963106238227915),
 (4601, 0.0),
 (4600, 0.0),
 (4599, 0.0),
 (4598, 0.0),
 (4597, 0.07106690545187017),
 (4596, 0.05802588531856595),
 (4595, 0.0),
 (4594, 0.04351941398892446),
 (4593, 0.0),
 (4592, 0.0),
 (4591, 0.07106690545187017),
 (4590, 0.027874733666903028),
 (4589, 0.029424494316824985),
 (4588, 0.0),
 (4587, 0.048280454958526765),
 (4586, 0.0),
 (4585, 0.0),
 (4584, 0.0),
 (4583, 0.0),
 (4582, 0.060606060606060615),
 (4581, 0.0),
 (4580, 0.0),
 (4579, 0.0),
 (4578, 0.0),
 (4577, 0.0),
 (4576, 0.028618190351607124),
 (4575, 0.0323254091917618),
 (4574, 0.0),
 (4573, 0.048280454958526765),
 (4572, 0.0),
 (4571, 0.0),
 (4570, 0.03629770043203139),
 (4569, 0.03126526997403613),
 (4568, 0.08444006618414981),
 (4567, 0.0),
 (4566, 0.08444006618414981),
 (4565, 0.025391835805951283),
 (4564, 0.04652421051992355),
 (4563, 0.0),
 (4562, 0.0),
 (4561, 0.0),
 (4560, 0.06700252101728081),
 (4559, 0.027524094128159017),
 (4558, 0.03481553119113957),
 (4557, 0.04222003309207491),
 (4556, 0.0),
 (4555, 0.04652421051992355),
 (4554, 0.04103049699311092),
 (4553, 0.030772872744833184),
 (4552, 0.027874733666903028),
 (4551, 0.0),
 (4550, 0.0),
 (4549, 0.03892494720807615),
 (4548, 0.0),
 (4547, 0.0),
 (4546, 0.0),
 (4545, 0.051899929610768204),
 (4544, 0.0),
 (4543, 0.03892494720807615),
 (4542, 0.04652421051992355),
 (4541, 0.0),
 (4540, 0.03629770043203139),
 (4539, 0.0),
 (4538, 0.06963106238227915),
 (4537, 0.0),
 (4536, 0.0323254091917618),
 (4535, 0.03798685881987932),
 (4534, 0.0),
 (4533, 0.055048188256318034),
 (4532, 0.025125945381480306),
 (4531, 0.0),
 (4530, 0.030303030303030307),
 (4529, 0.030772872744833184),
 (4528, 0.052486388108147805),
 (4527, 0.0),
 (4526, 0.0),
 (4525, 0.030303030303030307),
 (4524, 0.0),
 (4523, 0.0),
 (4522, 0.0),
 (4521, 0.0),
 (4520, 0.0),
 (4519, 0.0657951694959769),
 (4518, 0.0),
 (4517, 0.0),
 (4516, 0.11009637651263607),
 (4515, 0.0),
 (4514, 0.0),
 (4513, 0.0),
 (4512, 0.03413943709994595),
 (4511, 0.0),
 (4510, 0.033501260508640406),
 (4509, 0.0),
 (4508, 0.0),
 (4507, 0.0),
 (4506, 0.02686076546751268),
 (4505, 0.0),
 (4504, 0.0),
 (4503, 0.0),
 (4502, 0.08989331499509894),
 (4501, 0.0),
 (4500, 0.0),
 (4499, 0.0),
 (4498, 0.03553345272593508),
 (4497, 0.0),
 (4496, 0.0),
 (4495, 0.0),
 (4494, 0.0),
 (4493, 0.0),
 (4492, 0.08703882797784893),
 (4491, 0.0),
 (4490, 0.11396057645963797),
 (4489, 0.0),
 (4488, 0.0),
 (4487, 0.0),
 (4486, 0.0),
 (4485, 0.03413943709994595),
 (4484, 0.030772872744833184),
 (4483, 0.0),
 (4482, 0.03798685881987932),
 (4481, 0.0),
 (4480, 0.0),
 (4479, 0.0),
 (4478, 0.0),
 (4477, 0.0),
 (4476, 0.0),
 (4475, 0.0),
 (4474, 0.0),
 (4473, 0.08703882797784893),
 (4472, 0.07259540086406278),
 (4471, 0.0),
 (4470, 0.0),
 (4469, 0.03481553119113957),
 (4468, 0.10241831129983785),
 (4467, 0.0),
 (4466, 0.027524094128159017),
 (4465, 0.0),
 (4464, 0.0),
 (4463, 0.04351941398892446),
 (4462, 0.0),
 (4461, 0.0),
 (4460, 0.04222003309207491),
 (4459, 0.03553345272593508),
 (4458, 0.033501260508640406),
 (4457, 0.0),
 (4456, 0.0),
 (4455, 0.0),
 (4454, 0.0),
 (4453, 0.060606060606060615),
 (4452, 0.0),
 (4451, 0.0646508183835236),
 (4450, 0.029012942659282975),
 (4449, 0.0),
 (4448, 0.0),
 (4447, 0.0),
 (4446, 0.03178208630818641),
 (4445, 0.0),
 (4444, 0.0),
 (4443, 0.04494665749754947),
 (4442, 0.0),
 (4441, 0.0),
 (4440, 0.0),
 (4439, 0.0),
 (4438, 0.0),
 (4437, 0.0),
 (4436, 0.0),
 (4435, 0.0),
 (4434, 0.03413943709994595),
 (4433, 0.0),
 (4432, 0.0),
 (4431, 0.11009637651263607),
 (4430, 0.0),
 (4429, 0.05372153093502536),
 (4428, 0.0),
 (4427, 0.030772872744833184),
 (4426, 0.0),
 (4425, 0.0),
 (4424, 0.0),
 (4423, 0.0),
 (4422, 0.033501260508640406),
 (4421, 0.03892494720807615),
 (4420, 0.04222003309207491),
 (4419, 0.0),
 (4418, 0.0),
 (4417, 0.0),
 (4416, 0.0),
 (4415, 0.0),
 (4414, 0.0),
 (4413, 0.0323254091917618),
 (4412, 0.08989331499509894),
 (4411, 0.0),
 (4410, 0.03178208630818641),
 (4409, 0.0),
 (4408, 0.03798685881987932),
 (4407, 0.0),
 (4406, 0.0323254091917618),
 (4405, 0.20100756305184245),
 (4404, 0.0),
 (4403, 0.07987230638308718),
 (4402, 0.03798685881987932),
 (4401, 0.030303030303030307),
 (4400, 0.04494665749754947),
 (4399, 0.03553345272593508),
 (4398, 0.0),
 (4397, 0.027874733666903028),
 (4396, 0.0),
 (4395, 0.0),
 (4394, 0.0),
 (4393, 0.0),
 (4392, 0.03126526997403613),
 (4391, 0.0),
 (4390, 0.04652421051992355),
 (4389, 0.0),
 (4388, 0.029854071701326604),
 (4387, 0.0),
 (4386, 0.0),
 (4385, 0.0),
 (4384, 0.05970814340265321),
 (4383, 0.028618190351607124),
 (4382, 0.05723638070321425),
 (4381, 0.0),
 (4380, 0.030772872744833184),
 (4379, 0.0),
 (4378, 0.0),
 (4377, 0.03126526997403613),
 (4376, 0.0),
 (4375, 0.05025189076296061),
 (4374, 0.0),
 (4373, 0.0),
 (4372, 0.03126526997403613),
 (4371, 0.03178208630818641),
 (4370, 0.0),
 (4369, 0.03413943709994595),
 (4368, 0.052486388108147805),
 (4367, 0.0),
 (4366, 0.0),
 (4365, 0.04494665749754947),
 (4364, 0.0),
 (4363, 0.0),
 (4362, 0.04652421051992355),
 (4361, 0.0),
 (4360, 0.0),
 (4359, 0.027874733666903028),
 (4358, 0.027874733666903028),
 (4357, 0.07259540086406278),
 (4356, 0.0),
 (4355, 0.04652421051992355),
 (4354, 0.0),
 (4353, 0.11009637651263607),
 (4352, 0.0),
 (4351, 0.04222003309207491),
 (4350, 0.0),
 (4349, 0.03413943709994595),
 (4348, 0.1448413648755803),
 (4347, 0.0),
 (4346, 0.0),
 (4345, 0.0),
 (4344, 0.0),
 (4343, 0.08257228238447706),
 (4342, 0.0),
 (4341, 0.03126526997403613),
 (4340, 0.0),
 (4339, 0.09656090991705353),
 (4338, 0.0),
 (4337, 0.0),
 (4336, 0.15386436372416593),
 (4335, 0.03413943709994595),
 (4334, 0.0),
 (4333, 0.04494665749754947),
 (4332, 0.04652421051992355),
 (4331, 0.13957263155977065),
 (4330, 0.050783671611902566),
 (4329, 0.06154574548966637),
 (4328, 0.0),
 (4327, 0.03289758474798845),
 (4326, 0.0),
 (4325, 0.027186362391351845),
 (4324, 0.04222003309207491),
 (4323, 0.0),
 (4322, 0.0),
 (4321, 0.0),
 (4320, 0.07106690545187017),
 (4319, 0.04973647313019938),
 (4318, 0.0),
 (4317, 0.03126526997403613),
 (4316, 0.06963106238227915),
 (4315, 0.0),
 (4314, 0.028239124736245257),
 (4313, 0.03553345272593508),
 (4312, 0.03892494720807615),
 (4311, 0.0),
 (4310, 0.0),
 (4309, 0.0),
 (4308, 0.0),
 (4307, 0.0),
 (4306, 0.0),
 (4305, 0.07699905035090181),
 (4304, 0.0),
 (4303, 0.0),
 (4302, 0.0),
 (4301, 0.0),
 (4300, 0.04222003309207491),
 (4299, 0.033501260508640406),
 (4298, 0.0),
 (4297, 0.0),
 (4296, 0.0),
 (4295, 0.0),
 (4294, 0.0),
 (4293, 0.05802588531856595),
 (4292, 0.037113480951260276),
 (4291, 0.0),
 (4290, 0.03892494720807615),
 (4289, 0.0),
 (4288, 0.029012942659282975),
 (4287, 0.0),
 (4286, 0.0),
 (4285, 0.0),
 (4284, 0.03126526997403613),
 (4283, 0.0),
 (4282, 0.03798685881987932),
 (4281, 0.052486388108147805),
 (4280, 0.03126526997403613),
 (4279, 0.048280454958526765),
 (4278, 0.0),
 (4277, 0.02461829819586655),
 (4276, 0.0),
 (4275, 0.0),
 (4274, 0.0),
 (4273, 0.0),
 (4272, 0.0),
 (4271, 0.0682788741998919),
 (4270, 0.06356417261637282),
 (4269, 0.0),
 (4268, 0.0),
 (4267, 0.0),
 (4266, 0.030303030303030307),
 (4265, 0.0323254091917618),
 (4264, 0.0),
 (4263, 0.0323254091917618),
 (4262, 0.033501260508640406),
 (4261, 0.027874733666903028),
 (4260, 0.0),
 (4259, 0.048280454958526765),
 (4258, 0.0),
 (4257, 0.0778498944161523),
 (4256, 0.0),
 (4255, 0.0),
 (4254, 0.10889310129609417),
 (4253, 0.0),
 (4252, 0.0),
 (4251, 0.0),
 (4250, 0.023688968483956716),
 (4249, 0.0),
 (4248, 0.03413943709994595),
 (4247, 0.027874733666903028),
 (4246, 0.04103049699311092),
 (4245, 0.0),
 (4244, 0.052486388108147805),
 (4243, 0.0),
 (4242, 0.0),
 (4241, 0.04494665749754947),
 (4240, 0.0),
 (4239, 0.0),
 (4238, 0.03126526997403613),
 (4237, 0.0),
 (4236, 0.030303030303030307),
 (4235, 0.028618190351607124),
 (4234, 0.0),
 (4233, 0.024375747470904353),
 (4232, 0.03553345272593508),
 (4231, 0.0),
 (4230, 0.0),
 (4229, 0.0),
 (4228, 0.08827348295047496),
 (4227, 0.0),
 (4226, 0.03892494720807615),
 (4225, 0.0),
 (4224, 0.0),
 (4223, 0.025949964805384102),
 (4222, 0.0),
 (4221, 0.0),
 (4220, 0.0),
 (4219, 0.0),
 (4218, 0.037113480951260276),
 (4217, 0.0),
 (4216, 0.0),
 (4215, 0.0),
 (4214, 0.07422696190252055),
 (4213, 0.03993615319154359),
 (4212, 0.0),
 (4211, 0.037113480951260276),
 (4210, 0.0),
 (4209, 0.03892494720807615),
 (4208, 0.0),
 (4207, 0.03629770043203139),
 (4206, 0.0),
 (4205, 0.0),
 (4204, 0.04494665749754947),
 (4203, 0.06700252101728081),
 (4202, 0.03798685881987932),
 (4201, 0.0930484210398471),
 (4200, 0.03629770043203139),
 (4199, 0.0),
 (4198, 0.0),
 (4197, 0.0),
 (4196, 0.11980845957463077),
 (4195, 0.0),
 (4194, 0.07259540086406278),
 (4193, 0.04222003309207491),
 (4192, 0.029854071701326604),
 (4191, 0.04103049699311092),
 (4190, 0.11980845957463077),
 (4189, 0.0),
 (4188, 0.0),
 (4187, 0.0),
 (4186, 0.0),
 (4185, 0.030772872744833184),
 (4184, 0.0),
 (4183, 0.0),
 (4182, 0.03798685881987932),
 (4181, 0.0),
 (4180, 0.0),
 (4179, 0.08585457105482137),
 (4178, 0.028239124736245257),
 (4177, 0.03126526997403613),
 (4176, 0.0),
 (4175, 0.0),
 (4174, 0.0),
 (4173, 0.0),
 (4172, 0.0),
 (4171, 0.0),
 (4170, 0.0),
 (4169, 0.0),
 (4168, 0.0),
 (4167, 0.027186362391351845),
 (4166, 0.030772872744833184),
 (4165, 0.0),
 (4164, 0.03798685881987932),
 (4163, 0.08703882797784893),
 (4162, 0.0),
 (4161, 0.0),
 (4160, 0.0),
 (4159, 0.025391835805951283),
 (4158, 0.055749467333806056),
 (4157, 0.0),
 (4156, 0.0),
 (4155, 0.0),
 (4154, 0.0),
 (4153, 0.0),
 (4152, 0.04737793696791343),
 (4151, 0.0),
 (4150, 0.0),
 (4149, 0.048280454958526765),
 (4148, 0.0),
 (4147, 0.0),
 (4146, 0.0657951694959769),
 (4145, 0.0),
 (4144, 0.0),
 (4143, 0.0),
 (4142, 0.0),
 (4141, 0.0),
 (4140, 0.0),
 (4139, 0.03629770043203139),
 (4138, 0.0),
 (4137, 0.0),
 (4136, 0.02686076546751268),
 (4135, 0.04351941398892446),
 (4134, 0.0),
 (4133, 0.11134044285378084),
 (4132, 0.06700252101728081),
 (4131, 0.0),
 (4130, 0.04222003309207491),
 (4129, 0.04351941398892446),
 (4128, 0.04494665749754947),
 (4127, 0.02461829819586655),
 (4126, 0.0),
 (4125, 0.030303030303030307),
 (4124, 0.0),
 (4123, 0.06963106238227915),
 (4122, 0.0),
 (4121, 0.10444659357341872),
 (4120, 0.0),
 (4119, 0.0),
 (4118, 0.08257228238447706),
 (4117, 0.037113480951260276),
 (4116, 0.0),
 (4115, 0.02686076546751268),
 (4114, 0.023262105259961776),
 (4113, 0.0),
 (4112, 0.03413943709994595),
 (4111, 0.033501260508640406),
 (4110, 0.03629770043203139),
 (4109, 0.0),
 (4108, 0.0),
 (4107, 0.03289758474798845),
 (4106, 0.0),
 (4105, 0.03629770043203139),
 (4104, 0.0),
 (4103, 0.0323254091917618),
 (4102, 0.0),
 (4101, 0.05133270023393454),
 (4100, 0.0),
 (4099, 0.0),
 (4098, 0.029854071701326604),
 (4097, 0.08206099398622184),
 (4096, 0.0),
 (4095, 0.1160517706371319),
 (4094, 0.0),
 (4093, 0.0),
 (4092, 0.03629770043203139),
 (4091, 0.0),
 (4090, 0.0),
 (4089, 0.037113480951260276),
 (4088, 0.08206099398622184),
 (4087, 0.0),
 (4086, 0.0),
 (4085, 0.0),
 (4084, 0.0),
 (4083, 0.03798685881987932),
 (4082, 0.06253053994807226),
 (4081, 0.08155908717405554),
 (4080, 0.0),
 (4079, 0.0),
 (4078, 0.0323254091917618),
 (4077, 0.09869275424396534),
 (4076, 0.03993615319154359),
 (4075, 0.052486388108147805),
 (4074, 0.04103049699311092),
 (4073, 0.048280454958526765),
 (4072, 0.0),
 (4071, 0.0),
 (4070, 0.0),
 (4069, 0.0),
 (4068, 0.0),
 (4067, 0.0),
 (4066, 0.027874733666903028),
 (4065, 0.029012942659282975),
 (4064, 0.03798685881987932),
 (4063, 0.03413943709994595),
 (4062, 0.0),
 (4061, 0.07106690545187017),
 (4060, 0.05025189076296061),
 (4059, 0.08703882797784893),
 (4058, 0.0),
 (4057, 0.0),
 (4056, 0.0),
 (4055, 0.0),
 (4054, 0.0),
 (4053, 0.06356417261637282),
 (4052, 0.0),
 (4051, 0.0),
 (4050, 0.048280454958526765),
 (4049, 0.027186362391351845),
 (4048, 0.0),
 (4047, 0.0),
 (4046, 0.1160517706371319),
 (4045, 0.0),
 (4044, 0.0),
 (4043, 0.12121212121212123),
 (4042, 0.04351941398892446),
 (4041, 0.0),
 (4040, 0.0),
 (4039, 0.0),
 (4038, 0.0),
 (4037, 0.03126526997403613),
 (4036, 0.06963106238227915),
 (4035, 0.03481553119113957),
 (4034, 0.048280454958526765),
 (4033, 0.0),
 (4032, 0.0),
 (4031, 0.0),
 (4030, 0.0),
 (4029, 0.0),
 (4028, 0.037113480951260276),
 (4027, 0.03629770043203139),
 (4026, 0.026243194054073903),
 (4025, 0.0),
 (4024, 0.04351941398892446),
 (4023, 0.03798685881987932),
 (4022, 0.0),
 (4021, 0.03798685881987932),
 (4020, 0.027524094128159017),
 (4019, 0.025949964805384102),
 (4018, 0.0),
 (4017, 0.033501260508640406),
 (4016, 0.12666009927622474),
 (4015, 0.029854071701326604),
 (4014, 0.0),
 (4013, 0.0),
 (4012, 0.0),
 (4011, 0.03126526997403613),
 (4010, 0.029424494316824985),
 (4009, 0.0),
 (4008, 0.10497277621629561),
 (4007, 0.03798685881987932),
 (4006, 0.0),
 (4005, 0.0),
 (4004, 0.07597371763975865),
 (4003, 0.0),
 (4002, 0.028239124736245257),
 (4001, 0.0),
 (4000, 0.027186362391351845),
 (3999, 0.0),
 (3998, 0.11980845957463077),
 (3997, 0.1556997888323046),
 (3996, 0.0),
 (3995, 0.029012942659282975),
 (3994, 0.0),
 (3993, 0.03629770043203139),
 (3992, 0.08703882797784893),
 (3991, 0.030303030303030307),
 (3990, 0.05802588531856595),
 (3989, 0.03126526997403613),
 (3988, 0.030303030303030307),
 (3987, 0.0),
 (3986, 0.04494665749754947),
 (3985, 0.03892494720807615),
 (3984, 0.0),
 (3983, 0.0),
 (3982, 0.0),
 (3981, 0.03993615319154359),
 (3980, 0.07987230638308718),
 (3979, 0.025949964805384102),
 (3978, 0.0),
 (3977, 0.03629770043203139),
 (3976, 0.04652421051992355),
 (3975, 0.04222003309207491),
 (3974, 0.04494665749754947),
 (3973, 0.0),
 (3972, 0.0),
 (3971, 0.0),
 (3970, 0.03892494720807615),
 (3969, 0.03798685881987932),
 (3968, 0.0),
 (3967, 0.0),
 (3966, 0.03629770043203139),
 (3965, 0.0),
 (3964, 0.0),
 (3963, 0.0),
 (3962, 0.0),
 (3961, 0.025949964805384102),
 (3960, 0.04652421051992355),
 (3959, 0.025391835805951283),
 (3958, 0.0),
 (3957, 0.0),
 (3956, 0.0),
 (3955, 0.0),
 (3954, 0.03481553119113957),
 (3953, 0.04351941398892446),
 (3952, 0.0778498944161523),
 (3951, 0.03126526997403613),
 (3950, 0.0),
 (3949, 0.04532596090993367),
 (3948, 0.026546593660094948),
 (3947, 0.04652421051992355),
 (3946, 0.0492365963917331),
 (3945, 0.030303030303030307),
 (3944, 0.03798685881987932),
 (3943, 0.0),
 (3942, 0.0),
 (3941, 0.0),
 (3940, 0.0),
 (3939, 0.0),
 (3938, 0.0),
 (3937, 0.0),
 (3936, 0.0),
 (3935, 0.06253053994807226),
 (3934, 0.0),
 (3933, 0.08444006618414981),
 (3932, 0.03892494720807615),
 (3931, 0.0),
 (3930, 0.030303030303030307),
 (3929, 0.07987230638308718),
 (3928, 0.029012942659282975),
 (3927, 0.03892494720807615),
 (3926, 0.0),
 (3925, 0.0),
 (3924, 0.07597371763975865),
 (3923, 0.03413943709994595),
 (3922, 0.03629770043203139),
 (3921, 0.052486388108147805),
 (3920, 0.0),
 (3919, 0.026546593660094948),
 (3918, 0.0),
 (3917, 0.0),
 (3916, 0.04103049699311092),
 (3915, 0.037113480951260276),
 (3914, 0.030772872744833184),
 (3913, 0.0),
 (3912, 0.04494665749754947),
 (3911, 0.025125945381480306),
 (3910, 0.029012942659282975),
 (3909, 0.0),
 (3908, 0.07106690545187017),
 (3907, 0.0),
 (3906, 0.0),
 (3905, 0.10241831129983785),
 (3904, 0.0),
 (3903, 0.08471737420873576),
 (3902, 0.0323254091917618),
 (3901, 0.0),
 (3900, 0.0),
 (3899, 0.03629770043203139),
 (3898, 0.03553345272593508),
 (3897, 0.0),
 (3896, 0.0),
 (3895, 0.0),
 (3894, 0.05025189076296061),
 (3893, 0.0),
 (3892, 0.0),
 (3891, 0.0),
 (3890, 0.027186362391351845),
 (3889, 0.04351941398892446),
 (3888, 0.06963106238227915),
 (3887, 0.0),
 (3886, 0.05025189076296061),
 (3885, 0.03993615319154359),
 (3884, 0.0),
 (3883, 0.052486388108147805),
 (3882, 0.0),
 (3881, 0.0),
 (3880, 0.0),
 (3879, 0.060606060606060615),
 (3878, 0.0),
 (3877, 0.02686076546751268),
 (3876, 0.0323254091917618),

# Building Recommendation System

In [97]:
def recommend (movie):
    index = New_movies[New_movies['title']==movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True, key = lambda x: x[1])
    for i in distances[1:11]:
        print(New_movies.iloc[i[0]].title)

In [99]:
recommend('Avatar')

Small Soldiers
Jupiter Ascending
Star Trek Into Darkness
Ender's Game
The Fifth Element
Moonraker
The Book of Life
BloodRayne
The Helix... Loaded
Beowulf

In [100]:
recommend('The Dark Knight Rises')

The Dark Knight
Batman Begins
Batman
Batman
Batman Forever
Batman & Robin
Nighthawks
Carlos
Amidst the Devil's Wings
Batman Returns

In [101]:
recommend('Kung Fu Panda 3')

Kung Fu Panda
Kung Fu Panda 2
How to Train Your Dragon 2
Teenage Mutant Ninja Turtles III
My Big Fat Greek Wedding 2
Shark Tale
The Helix... Loaded
Shrek
Alpha and Omega: The Legend of the Saw Tooth Cave
Ishtar